<a href='/v1/thietbi/index'>Thiet bi</a>
<a href='/v1/nhacungcaps/index'>Nha cung cap</a>
<a href='/v1/nhasanxuat/index'>Nha san xuat</a>
<a href='/v1/loaithietbi/index'>Loai thiet bi</a>
<h1>Danh sach loai thiet bi</h1>

<table>
  <tr>
    <th>id loai</th>
    <th>tenloai</th>
    <th>donvitinh</th>
    <th>ghichu</th>
  </tr>

  <% @loaithietbis.each do |loaithietbi| %>
  <tr>
    <td><%= loaithietbi.id_loai %></td>
    <td><%= loaithietbi.tenloai %></td>
    <td><%= loaithietbi.donvitinh %></td>
    <td><%= loaithietbi.ghichu %></td>
  </tr>
  <% end %>
</table>